body {
    font-family: Helvetica;
    margin: 0;
    padding: none;
    width: 100%;
    background-color: black;
    color: #101010;
  }

  .spinner {
    height: 80px;
    width: 80px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;

    -webkit-animation: rotation 3s linear infinite;
    -moz-animation: rotation 3s linear infinite;
    -o-animation: rotation 3s linear infinite;
    animation: rotation 3s linear infinite;

    background-color: black;
    background-image: url("logo_small.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #angband-progress-overlay {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  @-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
  }
  @-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
  }
  @-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  #main-angband-status {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    color: rgb(120, 120, 120);
  }

  #main-angband-progress {
    height: 20px;
    width: 300px;
  }

  #controls {
    display: inline-block;
    float: right;
    vertical-align: top;
    margin-top: 30px;
    margin-right: 20px;
  }

  #output {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    border-left: 0px;
    border-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    background-color: black;
    color: white;
    border: none;
    font-family: 'Lucida Console', Monaco, monospace;
    outline: none;
  }
  
  .angband-grid {
    font-family: 'Menlo', 'Monaco', 'Courier', monospace;
    table-layout: fixed;
    width: 85%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #333;
    white-space:nowrap;
    outline: none; /* suppress focus ring */
  }

  .angband-grid tr {
  }

  .angband-grid td {
    background-color: black;
    color: white;
    text-align: left;
    font-size: 18pt;
    text-align: center;
    height: 1.2em;
  }

  .angband-grid tr, .angband-grid td {
    border: none;
    padding: 0;
    border-spacing: 0;
  }

  .angband-cursor {
    -webkit-box-shadow: inset 0px 0px 0px 1.5px rgba(255, 229, 97, 0.75);
    box-shadow: inset 0px 0px 0px 1.5px rgba(255, 229, 97, 0.75);
  }
