:root {
	color-scheme: dark;
}

body {
	font-family: Helvetica;
	margin: 0;
	padding: none;
	width: 100%;
	background-color: black;
	color: #F5F5F5;
}

#progress-ring {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 120px;
	transform: rotate(-90deg);
}

#progress-ring-circle {
	transition: stroke-dashoffset 0.2s linear;
	stroke-width: 6;
	stroke: white;
	fill: transparent;
	/* Note: 402.12 is circumference of circle of radius 64. */
	stroke-dashoffset: 402.12;
	stroke-dasharray: 402.12 402.12;
}

#angband-loadings {
	height: 120px;
	opacity: .6;
}

#progress-logo {
	width: 120px;
	height: 120px;
	position: absolute;
	background-image: url("logo_circle.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#angband-progress-overlay {
	position: fixed;
	left: 50px;
	top: 10px;
	z-index: 100;
}

#angband-status-text {
	margin-top: 20px;
	font-weight: bold;
	color: rgb(120, 120, 120);
	min-height: 1.25em;
	line-height: 1.25;
	margin-bottom: 25px;
}

.controls-toggle {
	position: fixed;
	top: 0px;
	right: 15px;
	font-size: 18pt;
	background-color: #333;
	color: #F5F5F5;
	border: none;
	text-align: center;
	border-bottom-right-radius: 15%;
	border-bottom-left-radius: 15%;
}

.controls-toggle:hover {
	background-color: #555;
	color: white;
}

#controls {
	position: fixed;
	top: 0px;
	right: 15px;
	background-color: #111;
	padding: 20px;
	line-height: 2.3em;
	z-index: 100;
	font-size: large;
	transition: visibility 0s linear 300ms;
}

#controls input {
	vertical-align: middle;
}

#controls input[type=checkbox] {
	transform: scale(1.8);
	margin-right: 8px;
	position: relative;
	bottom: 3px;
}

#output {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10px;
	border-left: 0px;
	border-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	background-color: black;
	color: white;
	border: none;
	font-family: 'Lucida Console', Monaco, monospace;
	outline: none;
}

.angband-grid {
	font-family: 'Menlo', 'Monaco', 'Courier', monospace;
	table-layout: fixed;
	width: 85%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	/* border: 1px solid #333; */
	white-space: nowrap;
	outline: none;
	/* suppress focus ring */
}

.angband-grid tr {}

.angband-grid td {
	background-color: black;
	color: white;
	text-align: left;
	font-size: 18pt;
	text-align: center;
	height: 1.2em;
}

.angband-grid tr, .angband-grid td {
	border: none;
	padding: 0;
	border-spacing: 0;
}

.angband-cursor {
	-webkit-box-shadow: inset 0px 0px 0px 1.5px rgba(255, 229, 97, 0.75);
	box-shadow: inset 0px 0px 0px 1.5px rgba(255, 229, 97, 0.75);
}